.button {
    cursor: pointer;
    padding: 20px 48px;
    background: var(--gray-300);
    color: white;
    display: flex;
    width: max-content;
    font-weight: 500;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.2s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
}