@import './components/navbar/variables';

.app {
    height: 100%;

    .home {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 2fr 3fr;
        width: 100%;
        height: calc(100% - #{$navbarHeight + 1px});

        .home-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: span 2;

            .home-title-secondary {
                font-weight: bold;
                margin-bottom: 8px;
                font-size: 18px;
            }

            .home-title-primary {
                font-size: 48px;
                font-weight: 200;
            }
        }

        .home-gallery-preview {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray-300);
            color: white;

            .loader {
                position: absolute;
            }
        }

        .home-presentation-card {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray-50);

            .home-presentation-card-container {
                display: flex;
                flex-direction: column;
                width: calc(100% - 120px);

                .home-presentation-card-container-title {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 24px;
                }

                .home-presentation-card-container-description {
                    margin-bottom: 24px;
                    font-size: 16px;
                    text-align: justify;
                }

                .button {
                    margin-left: auto;
                }
            }
        }
    }
}